<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Redefinição de Senha</title>
</head>
<body>
    <h2>Olá,</h2>
    
    <p>Você solicitou a redefinição de senha para sua conta. Clique no link abaixo para redefinir sua senha:</p>
    
    <p><a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
        Redefinir minha senha
    </a></p>
    
    <p>O link acima será válido por 3 dias.</p>
    
    <p>Se você não solicitou a redefinição de senha, ignore este e-mail.</p>
    
    <p>Atenciosamente,<br>
    Equipe FinanPy</p>
</body>
</html>